@model WebCRUDApp.Models.Entidades.Pessoas

@{
    ViewData["Title"] = "Create";
}

<h4>Cadastro de Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group-cargo">
                <label asp-for="Sobrenome" class="control-label"></label>
                <input asp-for="Sobrenome" class="form-control" />
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input class="data" asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.NomeCargo" class="control-label"> Cargo </label>
                <select asp-for="CargoId" class="form-control" asp-items="ViewBag.CargoNome">
                    <option value=""> --Selecione o Cargo --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="endereco.cep" class="control-label"></label>
                <input id="cep" asp-for="endereco.cep" class="form-control" type="number" />
                <span asp-validation-for="endereco.cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.logradouro" class="control-label"></label>
                <input id="logradouro" asp-for="endereco.logradouro" class="form-control" />
                <span asp-validation-for="endereco.logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.numero" class="control-label"></label>
                <input id="numero" asp-for="endereco.numero" class="form-control" />
                <span asp-validation-for="endereco.numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.complemento" class="control-label"></label>
                <input id="complemento" asp-for="endereco.complemento" class="form-control" />
                <span asp-validation-for="endereco.complemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.bairro" class="control-label"></label>
                <input id="bairro" asp-for="endereco.bairro" class="form-control" />
                <span asp-validation-for="endereco.bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco.uf" class="control-label"></label>
                <input id="uf" asp-for="endereco.uf" class="form-control" readonly/>
                @*<select id="uf" class="form-control"></select>*@
                    @*<option value=""> --Selecione a UF --</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>*@              
            </div>
            <div class="cargoID">
                <div id="cargoNovo">
                    <a asp-controller="Cargo" asp-action="Create" class="btn btn-primary"> Novo Cargo</a>

                </div>
                <div class="form-group-cargo">
                    <input type="submit" value="Salvar" class="btn btn-success" />
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
